<?xml version="1.0" encoding="UTF-8"?>
<suite name="test">


  <test thread-count="5" name="Test">
  
  
    <classes>
    
    <class name="jspabc.A1_Alerts">
    
       <methods>
				<include name="handlingalerts"/>
				</methods>
				
				</class>
    
    
    
    <class name="jspabc.A2_MouseOverActions">
    
       <methods>
				<include name="mouseover"></include>
				</methods>
				
				</class>
				
				
		<class name="jspabc.A4_informationcommands">
    
       <methods>
				<include name="gmail"/>
				</methods>
				
				</class>		
				
				
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
